@import "tailwindcss";

.add-user{
    height: 250px;
    width: 500px;
    border: 1px solid slategray;
    padding: 30px;
    border-radius: 12px;
}
.display-user{
    height: 250px;
    width: 500px;
    border: 1px solid slategray;
    padding: 30px;
    border-radius: 12px;
}